<h1>Past Orders <small>for <%= @user.email %></h1>

<table>
	<tbody>
		<% @user.orders.each do |order| %>
			<tr>
				<td><%= order.created_at.strftime "%d.%m.%Y" %></td>
				<td><%=order.seed.care%><td>
			</tr>
		<%end%>
	</tbody>
</table>
