<div class="row">
	<div class="span12">
		<h1>Past Orders <small>for <%= @user.email %></small></h1>
	</div>
</div>
<div class="row">
	<% @user.orders.each do |order| %>
		<div class="span4 order">
			<p>
				Date: <%= order.created_at.strftime "%B %e" %><br>
				Status: <% if order.shipped%>Shipped! <%else%>Not shipped yet...<%end%><br>
				<%= link_to 'Details', "/order/#{order.id}" %>
			</p>
		</div>
	<%end%>
</div>
